<input class="swapText swap"
       onblur="if(this.value==''){this.value='{{ value }}';$(this).addClass('swap')}"
       onfocus="if(this.value=='{{ value }}'){this.value='';$(this).removeClass('swap');}"
       onclick="if(this.value=='{{ value }}'){this.value='';$(this).removeClass('swap');}"
       id="{{ id }}"
       type="text"
       name="{{ id }}"
       value="{{ value }}" />
