
.answer .element-wrapper {
  font-weight: lighter;
  font-size: 13px;
}

.answer label.wrapper-label {
  font-weight: bold;
  font-size: 13px;
}

.answer {
  padding: 15px;
  margin: 15px;
  border-radius: 15px;

}

.answer .input-wrapper {
  border: 0 !important;
}

.answer label {
  color: #ffffff !important;
}

#quizwrapper .answer label {
  color: #000000 !important;
}

.q-green {
  background-color: #488e1c;
  color: #ffffe8;
}

.q-red {
  background-color: #e74955;
  color: #fff !important;
}

.q-neutral {
  background-color: #f5f5b5;
  color: #4a3520;
}

.q-neutral label.wrapper-label {
  color: #4a3520 !important;
}

.question {
  color: #ffffff;
  font-weight: bold;
  position: relative;
  width: 96%;
  padding: 0;
  background: #4a3520;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  padding: 15px;
}

.question:after {
  content: '';
  position: absolute;
  border-style: solid;
  border-width: 10px 10px 10px 0;
  border-color: transparent #4a3520;
  display: block;
  width: 0;
  z-index: 1;
  left: -10px;
  top: 13px;
}
