
.forum_threads {

}

.forum_threads .thread {

}

.user_pic, .thread_title {
  float: left;
  display: block;
}

.user_pic {
  margin-right: 10px;
  width: 64px;
  height: 50px;
  background-image: url(img/forum_bubble.png);
}

span.thread_title {
  font-size: 15px;
  margin-top: 15px !important;
  margin-left: 5px !important;
  color: #4a3520;
  width: 55%;
}

.last_post {
  float: right;
  padding: 7px !important;
  background-color: #ffffff !important;
  color: #4a3522 !important;
  width: 170px;
}

.last_post span {
  background-color: #ffffff !important;
  color: #4a3522 !important;
  font-size: 12px;
}

.post {

}

ul.forum_threads.linklist li a:hover, ul.forum_threads.linklist li a:hover span.last_post span {
  color: #4a3522 !important;
}

div.forum_user_info_holder {
  width: 160px;
  margin-top: 5px;
  float: left;
  margin-bottom: 15px;
}

div.post_body {
  float: left;
  margin-top: 7px;
  margin-bottom: 7px;
  width: 75%;
}

div.post div.xv_left {
  background-color: #e8e3d8;
}

div.post div.xv_left ul li a {
  color: #4a3520;
}

div.post div.xv_left ul li a:hover {
  background-color: #4a3520;
  color: #ffffff;
}

div.post textarea {
  height: 165px;
}

/* fairteilerlist */
ul.fairteilerlist li a span.image {
  display: block;
  width: 60px;
  height: 60px;
  float: left;
  margin-right: 10px;
  background-position: center;
  background-repeat: no-repeat;
}

ul.fairteilerlist li a span.image.noimage {
  background-color: #ffffff;
}

ul.fairteilerlist li a span.clear {
  display: block;
  clear: both;
}

.item_is_active {
  background: none repeat scroll 0 0 #cadcba;
  cursor: default;
}

.item_is_not_active {
  background: none repeat scroll 0 0 #f6e3e3;
  cursor: default;
}

.item_is_active, .item_is_not_active {
  display: inline-block;
  padding: 4px 8px 4px 4px;
  width: 60px;
}

.item_is_active span, .item_is_not_active span {
  position: relative;
  top: -2px;
}

.event .welcome_profile_name {
  margin-left: 82px !important;
}

div.event {
  min-height: 70px;
}

.calendar {
  display: block;
  float: left;
  height: 70px;
  margin: 0 20px 0 0;
  padding: 0;
  width: 70px;
}

.calendar .month {
  background-color: #4d7216;
  border: 1px solid #2b400c;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  color: #ffffff;
  display: block;
  font-size: 13px;
  font-weight: bold;
  height: 23px;
  line-height: 23px;
  margin: 0;
  padding: 0;
  text-align: center;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.6);
}

.calendar .day {
  background-color: #eae2cb;
  border-bottom: 1px solid #bba595;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  border-left: 1px solid #bba595;
  border-right: 1px solid #bba595;
  color: #2f291e;
  display: block;
  font-size: 17px;
  font-weight: bold;
  height: 44px;
  line-height: 42px;
  margin: 0;
  padding: 0;
  text-align: center;
}

.thread .info {
  font-weight: lighter !important;
}

.user_pic .avatar {
  margin-top: 7px;
  margin-left: 7px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

.user_pic .avatar span.bubble {
  margin-left: 37px !important;
  margin-top: -40px !important;
  color: #4a3520 !important;
}
