.awesome-marker {
  background: url('/img/markers-fs.png') no-repeat 0 0;
}

.awesome-marker-shadow {
  background: url('/img/markers-shadow.png') no-repeat 0 0;
}

@media (min--moz-device-pixel-ratio: 1.5),(-o-min-device-pixel-ratio: 3/2),
(-webkit-min-device-pixel-ratio: 1.5),(min-device-pixel-ratio: 1.5),(min-resolution: 1.5dppx) {
  .awesome-marker {
    background-image: url('/img/markers-matte@2x.png');
    background-size: 360px 46px;
  }

  .awesome-marker-shadow {
    background-image: url('/img/markers-shadow@2x.png');
    background-size: 35px 16px;
  }
}

.awesome-marker i {
  color: #ffffff;
  margin-top: 9px;
  font-size: 17px;
  width: 17px;
  height: 17px;
  padding: 0;
  text-align: center;
}

.awesome-marker-icon-red {
  background-position: 0 0;
}

.awesome-marker-icon-brown {
  background-position: -180px 0;
}

.awesome-marker-icon-lightred {
  background-position: -360px 0;
}

.awesome-marker-icon-orange {
  background-position: -36px 0;
}

.awesome-marker-icon-beige {
  background-position: -396px 0;
}

.awesome-marker-icon-green {
  background-position: -72px 0;
}

.awesome-marker-icon-darkgreen {
  background-position: -252px 0;
}

.awesome-marker-icon-lightgreen {
  background-position: -432px 0;
}

.awesome-marker-icon-yellow {
  background-position: -108px 0;
}

.awesome-marker-icon-tuerkis {
  background-position: -216px 0;
}

.awesome-marker-icon-lightblue {
  background-position: -468px 0;
}

.awesome-marker-icon-blue {
  background-position: -144px 0;
}

.awesome-marker-icon-darkpurple {
  background-position: -288px 0;
}

.awesome-marker-icon-pink {
  background-position: -504px 0;
}

.awesome-marker-icon-cadetblue {
  background-position: -324px 0;
}

.awesome-marker-icon-white {
  background-position: -574px 0;
}

.awesome-marker-icon-gray {
  background-position: -648px 0;
}

.awesome-marker-icon-lightgray {
  background-position: -612px 0;
}

.awesome-marker-icon-black {
  background-position: -682px 0;
}

@media (max-width: 600px) {
  #map-control .linklist li a {
    overflow: hidden;
    padding: 6px 0;
    white-space: nowrap;
    width: 27px;
  }

  #map-control-wrapper .ui-dialog-content {
    padding: 0 6px;
  }
}
